In [2]:
!pip install --upgrade pip

Requirement already satisfied: pip in ./venv/lib/python3.9/site-packages (21.2.4)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 16.1 MB/s eta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-24.0

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy<2,>=1.22.4 (from pandas)
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 69.0 MB/s eta 0:00:00a 0:00:01
Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 69.3 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 49.1 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 50.2 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 14.3 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd

In [ ]:
# 6/10/24 special offer python soulition

In [2]:
# lets create a function that will store the master simply more excel sheet and the new offer sheet
def load_data(master_file_path, new_file_path): # accepts two strings, which should be the file path
    master_offer_df = pd.read_excel(master_file_path)
    new_offer_df = pd.read_excel(new_file_path)
    return master_offer_df, new_offer_df

In [2]:
# basics of panda
# creating a series (single column of data)
data = [1,2,3,4]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
# now lets create a dataframe
# two dimensional tabular data structure
data = {
    'name': ['calvin', 'john'],
    'age': [31, 42]
}
data_frame = pd.DataFrame(data)
print(data_frame)

     name  age
0  calvin   31
1    john   42

In [7]:
data_frame.columns

Index(['name', 'age'], dtype='object')

In [2]:
# lets load JP excel file
jp_excel = pd.read_excel('/Users/calvinpineda/Downloads/upgrade-offer-voyages-jp-2-test.xlsx')
print(jp_excel.head())

               Title     Cruise  \
0  Upgrade Sale 2024  REG240914
1  Upgrade Sale 2024  INS241028
2  Upgrade Sale 2024  INS241108
3  Upgrade Sale 2024  INS241127
4  Upgrade Sale 2024  INS241212

                                  Cruise Description
0  With <i>simply</i> MORE&#42; our new valuable ...
1  With <i>simply</i> MORE&#42; our new valuable ...
2  With <i>simply</i> MORE&#42; our new valuable ...
3  With <i>simply</i> MORE&#42; our new valuable ...
4  With <i>simply</i> MORE&#42; our new valuable ...

In [4]:
# lets clean up the excel sheet, so the dataframe gets the correct data
# lets replace the copy of simply more with the copy of julie

# i needed to make my text regex friendly due to our special characters

old_voyage_description = r'With <i>simply</i> MORE\*, our new valuable offer, enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers\* plus:'

new_voyage_description = r'Receive more luxury for less with up to a 4 Category Upgrade\* plus simply MORE with 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers\* and:'

# using html characters for asterick
old_voyage_description_html = 'With <i>simply</i> MORE&#42; our new valuable offer, enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers&#42; plus'

new_voyage_description_html = 'Receive more luxury for less with up to a 4 Category Upgrade&#42; plus simply MORE with 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers&#42; and:'

# Julie wants to add book now line, so lets replace the amenities line
old_amenities_description = '<i>Amenities are per stateroom</i>'
new_amenities_description = '<i>Amenities are per stateroom</i> <br><br>Book Now - Offer ends June 30, 2024'

# lets save the changes to a dictionary 
replace_dict = {old_voyage_description : new_voyage_description, old_amenities_description : new_amenities_description}

jp_excel['Cruise Description'] = jp_excel['Cruise Description'].replace(old_voyage_description_html, new_voyage_description_html, regex=True)

print(jp_excel.head())

               Title     Cruise  \
0  Upgrade Sale 2024  REG240914
1  Upgrade Sale 2024  INS241028
2  Upgrade Sale 2024  INS241108
3  Upgrade Sale 2024  INS241127
4  Upgrade Sale 2024  INS241212

                                  Cruise Description
0  Receive more luxury for less with up to a 4 Ca...
1  Receive more luxury for less with up to a 4 Ca...
2  Receive more luxury for less with up to a 4 Ca...
3  Receive more luxury for less with up to a 4 Ca...
4  Receive more luxury for less with up to a 4 Ca...

In [24]:
print(new_voyage_description)

Receive more luxury for less with up to a 4 Category Upgrade* plus simply MORE with 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers* and:

In [5]:
print(jp_excel.at[0, 'Cruise Description'])

Receive more luxury for less with up to a 4 Category Upgrade&#42; plus simply MORE with 2 for 1 Cruise Fares, Free Roundtrip Airfare and Airport Transfers&#42; and::
<br><br>
FREE $600 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>

In [34]:
# lets build the special offer dataframe using jP excel sheet
# i originally used appened, however, its more efficient to build a list, then turn the list to df
columns = [
    'langcode','revision_log','status','uid','title','promote','sticky','default_langcode','revision_default','revision_translation_affected','path','field_sov_long_description','field_sov_offer_id','field_sov_voyage_id'
]
df = pd.DataFrame(columns=columns)

row_list = []
for index, row in jp_excel.iterrows(): # index = index, row = data
    title = f"{row['Title']}-{row['Cruise']}"
    offer_id = row['Title']
    voyage_id = row['Cruise']
    voyage_decription = row['Cruise Description']
    
    # turn list to dict
    row_dict = {'title': title, 'field_sov_offer_id': offer_id, 'field_sov_voyage_id': voyage_id, 'field_sov_long_description': voyage_decription}
    row_list.append(row_dict)

    # create a datafrom from the list of dictionaries and concat with original
    df = pd.concat([df, pd.DataFrame(row_list)])

print(df)

   langcode revision_log status  uid                        title promote  \
0       NaN          NaN    NaN  NaN  Upgrade Sale 2024-REG240914     NaN
0       NaN          NaN    NaN  NaN  Upgrade Sale 2024-REG240914     NaN
1       NaN          NaN    NaN  NaN  Upgrade Sale 2024-INS241028     NaN
0       NaN          NaN    NaN  NaN  Upgrade Sale 2024-REG240914     NaN
1       NaN          NaN    NaN  NaN  Upgrade Sale 2024-INS241028     NaN
..      ...          ...    ...  ...                          ...     ...
61      NaN          NaN    NaN  NaN  Upgrade Sale 2024-MNA250630     NaN
62      NaN          NaN    NaN  NaN  Upgrade Sale 2024-MNA250711     NaN
63      NaN          NaN    NaN  NaN  Upgrade Sale 2024-MNA250727     NaN
64      NaN          NaN    NaN  NaN  Upgrade Sale 2024-SIR250720     NaN
65      NaN          NaN    NaN  NaN  Upgrade Sale 2024-REG250403     NaN

   sticky default_langcode revision_default revision_translation_affected  \
0     NaN              NaN              NaN                           NaN
0     NaN              NaN              NaN                           NaN
1     NaN              NaN              NaN                           NaN
0     NaN              NaN              NaN                           NaN
1     NaN              NaN              NaN                           NaN
..    ...              ...              ...                           ...
61    NaN              NaN              NaN                           NaN
62    NaN              NaN              NaN                           NaN
63    NaN              NaN              NaN                           NaN
64    NaN              NaN              NaN                           NaN
65    NaN              NaN              NaN                           NaN

   path                         field_sov_long_description field_sov_offer_id  \
0   NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
0   NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
1   NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
0   NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
1   NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
..  ...                                                ...                ...
61  NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
62  NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
63  NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
64  NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
65  NaN  Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024

   field_sov_voyage_id
0            REG240914
0            REG240914
1            INS241028
0            REG240914
1            INS241028
..                 ...
61           MNA250630
62           MNA250711
63           MNA250727
64           SIR250720
65           REG250403

[2211 rows x 14 columns]

In [35]:
# lets replace every instance of NaaN with an empty space
df = df.fillna('')
print(df)

   langcode revision_log status uid                        title promote  \
0                                    Upgrade Sale 2024-REG240914
0                                    Upgrade Sale 2024-REG240914
1                                    Upgrade Sale 2024-INS241028
0                                    Upgrade Sale 2024-REG240914
1                                    Upgrade Sale 2024-INS241028
..      ...          ...    ...  ..                          ...     ...
61                                   Upgrade Sale 2024-MNA250630
62                                   Upgrade Sale 2024-MNA250711
63                                   Upgrade Sale 2024-MNA250727
64                                   Upgrade Sale 2024-SIR250720
65                                   Upgrade Sale 2024-REG250403

   sticky default_langcode revision_default revision_translation_affected  \
0
0
1
0
1
..    ...              ...              ...                           ...
61
62
63
64
65

   path                         field_sov_long_description field_sov_offer_id  \
0        Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
0        Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
1        Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
0        Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
1        Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
..  ...                                                ...                ...
61       Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
62       Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
63       Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
64       Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024
65       Receive more luxury for less with up to a 4 Ca...  Upgrade Sale 2024

   field_sov_voyage_id
0            REG240914
0            REG240914
1            INS241028
0            REG240914
1            INS241028
..                 ...
61           MNA250630
62           MNA250711
63           MNA250727
64           SIR250720
65           REG250403

[2211 rows x 14 columns]

In [36]:
# not lets save the DataFrame to an Exel file
df.to_excel('/Users/calvinpineda/Downloads/upgrade-sale-US.xlsx')

In [12]:
df = pd.read_excel('/Users/calvinpineda/Downloads/voyage-tropics.xlsx')

In [6]:
df.head()

,Voyage ID,Voyage Description,Shore Excursion Amount
0,RVA251008,Set sail beyond the ordinary with our 2025-202...,800
1,RVA251022,Set sail beyond the ordinary with our 2025-202...,800
2,RVA251106,Set sail beyond the ordinary with our 2025-202...,600
3,SIR251107,Set sail beyond the ordinary with our 2025-202...,1200
4,NAU260227,Set sail beyond the ordinary with our 2025-202...,1200

In [4]:
df

,Voyage ID,Voyage Description,Shore Excursion Amount
0,RVA251008,Set sail beyond the ordinary with our 2025-202...,800
1,RVA251022,Set sail beyond the ordinary with our 2025-202...,800
2,RVA251106,Set sail beyond the ordinary with our 2025-202...,600
3,SIR251107,Set sail beyond the ordinary with our 2025-202...,1200
4,NAU260227,Set sail beyond the ordinary with our 2025-202...,1200
...,...,...,...
130,ALU260104A,Set sail beyond the ordinary with our 2025-202...,1200
131,ALU260309A,Set sail beyond the ordinary with our 2025-202...,1400
132,ALU260404B,Set sail beyond the ordinary with our 2025-202...,1800
133,MNA260407A,Set sail beyond the ordinary with our 2025-202...,1200
134,ALU260414A,Set sail beyond the ordinary with our 2025-202...,1200

In [5]:
df.tail()

,Voyage ID,Voyage Description,Shore Excursion Amount
130,ALU260104A,Set sail beyond the ordinary with our 2025-202...,1200
131,ALU260309A,Set sail beyond the ordinary with our 2025-202...,1400
132,ALU260404B,Set sail beyond the ordinary with our 2025-202...,1800
133,MNA260407A,Set sail beyond the ordinary with our 2025-202...,1200
134,ALU260414A,Set sail beyond the ordinary with our 2025-202...,1200

In [22]:
def add_comma(amount): # only return amount
    if len(str(amount)) == 4:
        return "{:,}".format(amount) # :, automatically adds comma seperator to thousand place numbers - returns string
    else:
        return str(amount)

In [17]:
def replace_values(description,amount):
    format_amount = add_comma(amount) # the amount returned will always be a string
    return description.replace('XXX',format_amount)

In [18]:
df['Voyage Description'] = df.apply(lambda row: replace_values(row['Voyage Description'], row['Shore Excursion Amount']), axis=1)

In [8]:
df['Voyage Description'].head()

0    Set sail beyond the ordinary with our 2025-202...
1    Set sail beyond the ordinary with our 2025-202...
2    Set sail beyond the ordinary with our 2025-202...
3    Set sail beyond the ordinary with our 2025-202...
4    Set sail beyond the ordinary with our 2025-202...
Name: Voyage Description, dtype: object

In [9]:
# i need to expand the trunkated view to see if the amount was updated

In [19]:
for x in df['Voyage Description'].head():
    print(x)
    print('---')

Set sail beyond the ordinary with our 2025-2026 Tropics & Exotics Collection and enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare with Free Airport Transfers* and valuable <i>simply</i> MORE* amenities:
<br><br>
FREE $800 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>
---
Set sail beyond the ordinary with our 2025-2026 Tropics & Exotics Collection and enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare with Free Airport Transfers* and valuable <i>simply</i> MORE* amenities:
<br><br>
FREE $800 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>
---
Set sail beyond the ordinary with our 2025-2026 Tropics & Exotics Collection and enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare with Free Airport Transfers* and valuable <i>simply</i> MORE* amenities:
<br><br>
FREE $600 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>
---
Set sail beyond the ordinary with our 2025-2026 Tropics & Exotics Collection and enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare with Free Airport Transfers* and valuable <i>simply</i> MORE* amenities:
<br><br>
FREE $1,200 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>
---
Set sail beyond the ordinary with our 2025-2026 Tropics & Exotics Collection and enjoy 2 for 1 Cruise Fares, Free Roundtrip Airfare with Free Airport Transfers* and valuable <i>simply</i> MORE* amenities:
<br><br>
FREE $1,200 <i>simply</i> MORE Shore Excursion Credit<br>
FREE Champagne, Wine & More<br>
FREE Gourmet Specialty Dining<br>
FREE Unlimited WiFi<br>
<i>Amenities are per stateroom</i>
---

In [20]:
df.to_excel('/Users/calvinpineda/Downloads/modified-voyages-with-commas-tropics.xlsx', index=False)