In [7]:
# lets load the library to manipulate the excel file

In [1]:
import mysql.connector

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/calvinpineda/Downloads/Food_Establishment_Inspection_Scores_20240824.csv')

In [4]:
print(df.head()) # ensure the csv was loaded to the dataframe

              Restaurant Name  Zip Code Inspection Date  Score  \
0                   Los Pinos   78734.0      12/21/2021     79
1  OOB - Facebook - 300 W 6th   78701.0      07/15/2022     95
2            Kealing Jr. High   78702.0      05/06/2022     97
3               Arte Sano LLC   78744.0      05/31/2022    100
4            Daily Juice Cafe   78757.0      03/29/2022     94

                                             Address  Facility ID  \
0  4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...      2802754
1  300 W 6TH ST\nAUSTIN, TX 78701\n(30.269336016,...     11960779
2  1607 PENNSYLVANIA AVE\nAUSTIN, TX 78702\n(30.2...      2800282
3  6110 TRADE CENTER DR\nAUSTIN, TX 78744\n(30.20...     11786340
4  8620 BURNET RD\nAUSTIN, TX 78757\n(30.36899701...     11219722

  Process Description
0  Routine Inspection
1  Routine Inspection
2  Routine Inspection
3  Routine Inspection
4  Routine Inspection

In [3]:
# check for blanks, NaaN - use sum to get one amount per column
print(df.isna().sum())

Restaurant Name        0
Zip Code               7
Inspection Date        0
Score                  0
Address                0
Facility ID            0
Process Description    0
dtype: int64

In [8]:
# blanks were found, lets find them so we can update them

In [7]:
# use the iloc (integer location) property to first find a row
print(df.iloc[5])

Restaurant Name                   Levy at Q2 Stadium/East Main North 129
Zip Code                                                         78758.0
Inspection Date                                               06/24/2022
Score                                                                100
Address                10414 MC KALLA PL\nAUSTIN, TX 78758\n(30.38772...
Facility ID                                                     12394507
Process Description                                   Routine Inspection
Name: 5, dtype: object

In [11]:
# iloc is not needed, i can use the any function, and filter the dataframe by it

In [16]:
# create a filtered view of the dataframe, just viewing NaaN, axis = 1 is to view the row
df_with_nans = df[df.isna().any(axis=1)]

In [13]:
print(df_with_nans)

                               Restaurant Name  Zip Code Inspection Date  \
515                       Thundercloud Subs #4       NaN      01/11/2024
5698   PF - 7 Eleven Convenience Store #35624B       NaN      11/16/2022
7358                      Thundercloud Subs #4       NaN      10/05/2022
9812   PF - 7 Eleven Convenience Store #35624B       NaN      05/19/2023
12123  PF - 7 Eleven Convenience Store #35624B       NaN      07/18/2024
12970                     Thundercloud Subs #4       NaN      10/27/2021
18506  PF - 7 Eleven Convenience Store #35624B       NaN      12/01/2023

       Score                                            Address  Facility ID  \
515       88  6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...      2800340
5698      93  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
7358      98  6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...      2800340
9812      93  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
12123     88  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
12970     90  6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...      2800340
18506     94  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598

      Process Description
515    Routine Inspection
5698   Routine Inspection
7358   Routine Inspection
9812   Routine Inspection
12123  Routine Inspection
12970  Routine Inspection
18506  Routine Inspection

In [8]:
# now we can use the iloc to directly assign the values to the NaaN

In [10]:
# lets update just one row, then re-run the iloc function
df.loc[515, 'Zip Code'] = 78749

In [12]:
print(df.iloc[515])

Restaurant Name                                     Thundercloud Subs #4
Zip Code                                                         78749.0
Inspection Date                                               01/11/2024
Score                                                                 88
Address                6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...
Facility ID                                                      2800340
Process Description                                   Routine Inspection
Name: 515, dtype: object

In [13]:
# zipcode was updated, lets re-run the sum function to see if total NaaN went down

In [14]:
print(df.isna().sum())

Restaurant Name        0
Zip Code               6
Inspection Date        0
Score                  0
Address                0
Facility ID            0
Process Description    0
dtype: int64

In [17]:
# lets re-print df_with_nans to see the remaining blanks
print(df_with_nans)

                               Restaurant Name  Zip Code Inspection Date  \
5698   PF - 7 Eleven Convenience Store #35624B       NaN      11/16/2022
7358                      Thundercloud Subs #4       NaN      10/05/2022
9812   PF - 7 Eleven Convenience Store #35624B       NaN      05/19/2023
12123  PF - 7 Eleven Convenience Store #35624B       NaN      07/18/2024
12970                     Thundercloud Subs #4       NaN      10/27/2021
18506  PF - 7 Eleven Convenience Store #35624B       NaN      12/01/2023

       Score                                            Address  Facility ID  \
5698      93  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
7358      98  6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...      2800340
9812      93  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
12123     88  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598
12970     90  6105 6151 E US 290 HWY\nSVRD EB AUSTIN, TX\n(3...      2800340
18506     94  1717 E PFLUGERVILLE PKWY\nPFLUGERVILLE, TX\n(3...     12395598

      Process Description
5698   Routine Inspection
7358   Routine Inspection
9812   Routine Inspection
12123  Routine Inspection
12970  Routine Inspection
18506  Routine Inspection

In [18]:
# i want to create a list of the remaining rows containing blanks

In [24]:
# use a filtered view of the df, only storing the NaaN - index position of the rows that contain the NaN
nan_indices_list = list(df_with_nans.index)

In [23]:
print(nan_indices_list)

[5698, 7358, 9812, 12123, 12970, 18506]

In [25]:
# now, i can update this list by assigning them directly

In [29]:
df.loc[nan_indices_list, 'Zip Code'] = [78660,78749,78660,78660,78749,78660]

In [34]:
# lets re-run the filtred df view for NaaN
df_with_nans = df[df.isna().any(axis=1)]

In [35]:
print(df_with_nans)

Empty DataFrame
Columns: [Restaurant Name, Zip Code, Inspection Date, Score, Address, Facility ID, Process Description]
Index: []

In [37]:
nan_indices_list = list(df_with_nans.index)

In [38]:
print(nan_indices_list)

[]

In [39]:
# there are no mo NaaN values in the Dataframe anymore

In [40]:
# i noticed the zip codes are float type, but austin.gov displays the zipcode is text - lets fix that

In [42]:
# lets see the data type for each column
print(df.dtypes)

Restaurant Name         object
Zip Code               float64
Inspection Date         object
Score                    int64
Address                 object
Facility ID              int64
Process Description     object
dtype: object

In [43]:
# lets cross reference the austin.gov website to see the data type for its database
# resturant name = object, zipcode = object, insepction date = date, score = integer, address = location, facility ID = integer, process description = text

In [44]:
# lets change zipcode from float64 to object to match the author source
df['Zip Code'] = df['Zip Code'].astype('object')

In [45]:
print(df.dtypes)

Restaurant Name        object
Zip Code               object
Inspection Date        object
Score                   int64
Address                object
Facility ID             int64
Process Description    object
dtype: object

In [47]:
print(df['Zip Code'].dtype)

object

In [49]:
df['Zip Code'] = df['Zip Code'].apply(str)

In [50]:
df['Zip Code'] = df['Zip Code'].str.replace('.0', '', regex=False)

In [51]:
print(df.dtypes)

Restaurant Name        object
Zip Code               object
Inspection Date        object
Score                   int64
Address                object
Facility ID             int64
Process Description    object
dtype: object

In [52]:
print(df.head())

              Restaurant Name Zip Code Inspection Date  Score  \
0                   Los Pinos    78734      12/21/2021     79
1  OOB - Facebook - 300 W 6th    78701      07/15/2022     95
2            Kealing Jr. High    78702      05/06/2022     97
3               Arte Sano LLC    78744      05/31/2022    100
4            Daily Juice Cafe    78757      03/29/2022     94

                                             Address  Facility ID  \
0  4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...      2802754
1  300 W 6TH ST\nAUSTIN, TX 78701\n(30.269336016,...     11960779
2  1607 PENNSYLVANIA AVE\nAUSTIN, TX 78702\n(30.2...      2800282
3  6110 TRADE CENTER DR\nAUSTIN, TX 78744\n(30.20...     11786340
4  8620 BURNET RD\nAUSTIN, TX 78757\n(30.36899701...     11219722

  Process Description
0  Routine Inspection
1  Routine Inspection
2  Routine Inspection
3  Routine Inspection
4  Routine Inspection

In [53]:
df.to_csv('/Users/calvinpineda/Downloads/Food_Establishment_Inspection_Scores_20240824_updated_python.csv', index=False)

In [54]:
# i have finished data cleaning my csv and exporting back - the following code will be for connecting to mySQL

In [3]:
# local host: Calvins-MacBook-Pro.local

In [4]:
# function to connect to sql
conn = mysql.connector.connect(
    host="Calvins-MacBook-Pro.local",
    user="root",
    password="V46!na$$@@Ca1v!n",
    database="new_restaurant_db"
)

In [5]:
cursor = conn.cursor()

In [6]:
# check if connection was success
if conn.is_connected():
    print("connection to db was success")
else:
    print("connection failed")

connection to db was success

In [9]:
cursor.execute("SELECT * FROM Restaurant WHERE RestaurantName = 'Los Pinos'")

In [10]:
for row in cursor:
    print(row)

(1, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(39761, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(46851, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(52400, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')

In [20]:
cursor.execute("SELECT * FROM Restaurant WHERE RestaurantName = 'Los Pinos'")
column_names = [i[0] for i in cursor.description] # only extract [0] and not anything else
print("|".join(column_names))
results = cursor.fetchall() # need to store the cursor.execute in a varible as if not, the cursor becomes exhausted
for row in results:
    print(row)

RestaurantID|FacilityID|RestaurantName|Address|ZipCode
(1, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(39761, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(46851, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')
(52400, 2802754, 'Los Pinos', '4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411959002, -97.926308977)', '78734\r')

In [21]:
df = pd.DataFrame(results, columns=column_names) # leveraging dataframe as it presents the data in tabuler form

In [22]:
df.head()

,RestaurantID,FacilityID,RestaurantName,Address,ZipCode
0,1,2802754,Los Pinos,"4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...",78734\r
1,39761,2802754,Los Pinos,"4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...",78734\r
2,46851,2802754,Los Pinos,"4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...",78734\r
3,52400,2802754,Los Pinos,"4919 HUDSON BEND RD\nAUSTIN, TX 78734\n(30.411...",78734\r

In [23]:
# close the cursor
cursor.close()

True

In [24]:
# close the connection
conn.close()

In [25]:
if conn.is_connected():
    print("connection to db was success")
else:
    print("connection failed")

connection failed